/EnumInstantiation.class
/FunctionalInterface$1.class
/FunctionalInterface.class
/InnerClassExample$1InnerClass.class
/InnerClassExample.class
/solar.class
/Java8Examples.class
/Java8Examples$1.class
/NumberSystem.class
/MethodReferenceSample.class
/abc.class
/methodRefer.class
